* {
	padding: 0px;
	margin: 0px
}
html, body{
	body: 100%;
	background-color: #C0C0C0;

}

#outer{
	padding: 20px;
	overflow-y: hidden
}
.main{
	margin-right: auto;
	margin-left: auto;
	max-width: 600px;
}
#welcome{
	margin-right: auto;
	margin-left: auto;
	display: block;
}
#jes{
	width: 100%;
}
.menu{
float: right;
display: inline-block;
width: 50%;
}
.console{
	float:right;
	color: #C0C0C0
}

#gamemenu{
	border-collapse: collapse;
	border-spacing: 0;
}
.game{
	max-width: 600px;
	float: left;
}
#carts{
	max-width: 75%;
}
#content{
	margin-right: auto;
	margin-left: auto;
	float:left;
	display: inline-block;
}
