<!DOCTYPE html>
<html>

<head>


<link rel="stylesheet" type="text/css" href="index.css">

<body bgcolor="#C0C0C0">

<center>

<style type="text/css"> 
.image1 
{ 
opacity:1.0; 
filter:alpha(opacity=100); 
} 
.image1:hover 
{ 
opacity:0.4; 
filter:alpha(opacity=40); 
} 
</style> 


<table>
<tr>
	<td></td>
	<td>
	<center><img src="http://i.imgur.com/53U4xyS.png" width="450"></center>
	</td>
	<td></td>
</tr>

<tr>
	<td>
		<table>
			<tr>
				<td>
	 <a href="#" ><img src="http://i.imgur.com/AMzOllc.png" width="100" class="image1" alt=""/></a>
				</td>
				</tr>
								<tr>
								<td>
	<a href="https://www.facebook.com/jenny.peng.9404" target="_blank"><img src="http://i.imgur.com/3kTxghl.png" width="100" class="image1" alt=""/></a>
				</td></tr>
							<tr>	<td>
	<a href="#" ><img src="http://i.imgur.com/RzzzJ7V.png" width="100" class="image1" alt=""/></a>
				</td></tr>
					<tr>
		<td>
			<img src= "http://i.imgur.com/7VWQXC9.png" width="100" />
		</td>
	</tr>

							
		</table>
		
	</td>
<td>
<div id="gamediv" >
<iframe style="border:2px dashed black;" src="https://dl.dropboxusercontent.com/u/169794876/Slow%20Life/index.html" width="950" height="700" frameborder="0" scrolling="no" name="GameFrame">
Oh No. Your browser can't support iframes</iframe>
</div>
</td>
<td>
		<table>
			<tr>
				<td>
	<a href="https://picasaweb.google.com/112926067986287103021/CommonApplicationArtSupplement#slideshow/5680600511094517874" target="_blank"><img src="http://i.imgur.com/CB2k2tW.png" width="100" class="image1" alt=""/></a>
				</td>
				</tr>
								<tr>
								<td>
	<a href="https://github.com/jennypeng" target="_blank"><img src="http://i.imgur.com/Orwlc1L.png" width="100" class="image1" alt=""/></a>
				</td></tr>
							<tr>	<td>
	<a href="#" ><img src="http://i.imgur.com/E08CWvN.png" width="100" class="image1" alt=""/></a>
				</td></tr>
	<tr>
		<td>
			<img src= "http://i.imgur.com/Eewtm2t.png" width="150" />
		</td>
	</tr>

							
		</table>
	</td>
</tr>
</tr>
 <td>
 </td>
 <td>
<div>
<p align=center style="font-family:verdana;color:white;font-size:11px;">
Slow Life: A game in development.
</p>
<p align=center style="font-family:verdana;color:white;font-size:11px;">
Witness our very geometric protagonist as he copes with himself, his classmates, and everyone else he knows. </p>
<p align=center style="font-family:verdana;color:black;font-size:9px;">
(WASD) to move, (R) to restart room
</p>

<H4 align=center style="font-family:verdana;color:white;font-size:9px;">Copyright © 2013, by
Jenny Peng
</H4>
</div></td><td></td></tr></table></center>








</body>
</html>